<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<br>
<div align="center">
    <h2>New User</h2>
    <form th:action="@{/user-create}" method="post">
        <table border="5" cellpadding="15">
            <tr>
                <td>Name:</td>
                <td><input name="name"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input name="surname"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input name="email"/></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input name="salary"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input name="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password"/></td>
            </tr>
            <tr>
                <td>User role:</td>
                <td><input name="roles"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>