<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<br>
<div align="center">
    <h2>New User</h2>
    <form th:action="@{/user-create}" method="POST" th:object="${user}">
        <table border="5" cellpadding="15">
            <tr>
                <td>Name:</td>
                <td><input name="name"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input name="surname"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input name="email"/></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input name="salary"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input name="username"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password"/></td>
            </tr>
            <br>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">Roles: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                    </th:block>
                </div>
            </div>
            </br>
            <tr>
                <td colspan="2"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>