<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:* = "c" url="http://java.sun.com/jsp/jstl/core">
<head>
    <meta charset="UTF-8">
    <title>UPDATE USER</title>
</head>
<body>
<br>
<div align="center">
    <h2>Edit User</h2>
    <form th:method="POST" th:action="@{/update-user/{id}(id=${user.getId()})}" th:object="${user}">
        <table border="5" cellpadding="15">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="${user.id}" readonly/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="${user.name}"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="${user.surname}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="${user.email}"/></td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td><input type="text" th:field="${user.salary}"/></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="${user.username}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="${user.password}"/></td>
            </tr>
            <tr>
                <td>User role</td>
                <td><input th:field="*{roles}" th:each="role: ${listRoles}"
                           th:text="${role.name}" th:value="${role.id}"/></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>